@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

@import url('https://fonts.googleapis.com/css2? family= UnifrakturCook & display=swap');
body{
    margin: 0px;
    padding: 0px;
    width: 99vw;
    height: 100vh;
}
.rad{
    display: none;
}
#resp{
    font-size: 4em;
    color: aliceblue; 
}
#resp:hover{
    font-size: 4.2em;
    cursor: pointer;
}
menu{
    background-image: linear-gradient(to bottom, rgb(22, 22, 22), rgb(48, 47, 47), rgb(48, 47, 47), rgb(22, 22, 22));
    display: flex;
    justify-content:  space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 3px 3px 5px black;   
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end
    
}
 #menresp{
     display: none;
 }
 #men{
     text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);
     color: aliceblue;
     display: none;
 }#men a{
     color: aliceblue;
     display: block;
     align-items: center;
     text-decoration: none;
     margin-top: 3px;
     padding: 3px;
     font-size: 1.5em;
 }
 #men a:hover{
     padding: 5px;
     color: rgba(216, 253, 4, 0.712);
     background-color: rgba(22, 22, 22, 0.705);
     border-radius: 3px;
 }
 ul{
    padding-left: 0px;
    margin-bottom: 0px;
     list-style-type: none;
 }
 #mat{
    margin-right: 13%;
    font-family: 'UnifrakturMaguntia', cursive;
    color: aliceblue;
    font-size: 3em;
    margin-bottom: 0px;
    margin-top: 0px;
}
.center{
    margin-top: 1%;
}
.bbbb{
    text-align: center;
}
.mart{
    font-family: 'UnifrakturMaguntia', cursive;
    color:aliceblue;
    font-size: 4em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.tat{
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}
#ho{
    color: red;
    font-size: 3.1em;
    padding-top: 0px;
}
#hor{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    text-align: center;
    color: rgba(240, 248, 255, 0.671);
    padding: 6px;
}
#hed{
    width: 100%;
    text-align: center;
    padding-top: 36%;
    padding-left: 10%;
    padding-bottom: 0px;
}
.para{
    width: 100%;
    background-attachment: fixed;
}
#he {
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    height: 200px;
    display: flex;
    background-image: url("img/hed.jpg");  
}
.her{
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.527);
}
#hev{
    width: 100%;
}
.hed{
    display: none;
}
#heg {
    width: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    background-image: url("img/hed.jpg");
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#bote {
    margin-left: 9%;
    height: 15px;
}

#hei {
    background-size: cover;
    background-position: center center;
    display: flex;
    background-image: url("img/hed.jpg");  
}
.pri{
    text-align: center;
    padding: 0px;
    
}
form{
    width: 70vh;
    margin: auto;
    background-image: linear-gradient(to right, rgb(7, 7, 7), rgb(59, 59, 59),rgb(59, 59, 59),rgb(7, 7, 7));
    padding: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.774);
    border-radius: 15px;
    
}
#fo{
    background-color: #00000041;
}
.for{
    color: aliceblue;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.582);
}
  h1.for{
    margin-top: 0px;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
}
  p.for{
    font-size: 1.2em;
}
input{
   width: 100%;
   height: 25px;
   border-radius: 5px;
   margin-bottom: 15px;
}
textarea{
    border-radius: 10px;
    margin-bottom: 15px;
}
input.but{
    margin-left: 35%;
    width: 150px;
    height: 40px;
    background-color:rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.733);
    border-radius: 10px;
    font-size: 1.5em;
}
.midias {
    margin-top: 10px;
    display: block;
    width: 70px;
    border-radius: 50% 50%;
    box-shadow: 3px 3px 5px rgb(77 77 77 / 77%);
}
.botao:hover{
    padding: 11px;   
}
#bot:hover{
    padding: 11px;
}
.botao a{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: aliceblue;
}
#ima{
    background-image: url("img/s11.jpg" );
    padding: 0px;
    background-size: cover;
    background-position: center;
}
article{
    height: 270px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;

}
h1{
    color: black;
    font-size: 2em;
    font-family: 'UnifrakturMaguntia', cursive;
    text-align: center;
    padding: 10px;
}
h2{
    color: black;
    font-size: 2em;
    font-family: 'UnifrakturMaguntia', cursive;
    text-align: center;
    padding: 15px;
}
.image{
    display: flex;
    width: 10%;
    height: 100%;
    transition: 2s;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.op{
        height: 80%;
        border-radius: 50% 50%;
        width: 90%;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.562); 
        margin: 20px;
        padding: 10px;
        background-size: cover;
        background-color: #2a292933;
}
.navega{
    display: flex;
    
}
.move{
    border: solid 2px rgba(255, 255, 255, 0.623);
    width: 15px;
    height: 15px;
    border-radius: 50% 50%;
    margin: 5px;
}
.move:hover{
   background-color: rgba(0, 255, 255, 0.596);
   transition: .5s;
}
#slide1:checked ~ .s1{
    margin: 0px;
}
#slide2:checked ~ .s1{
    margin-left: -10%;
}
#slide3:checked ~ .s1{
    margin-left: -20%;
}
#slide4:checked ~ .s1{
    margin-left: -30%;
}
#slide5:checked ~ .s1{ margin-left: -40%;}
#slide6:checked ~ .s1{ margin-left: -50%;}
#slide7:checked ~ .s1{ margin-left: -60%;}
#slide8:checked ~ .s1{ margin-left: -70%;}
#slide9:checked ~ .s1{ margin-left: -80%;}
#slide10:checked ~ .s1{ margin-left: -90%;}

.caixa{
    font-size: 2.5em;
    text-align: center;
    box-shadow: 3px 3px 1px #0000008f;
    background-color: rgb(199 196 196 / 48%);
    border-radius: 49px;
    color: #262626;
    text-shadow: 2px 2px 4px #00000073;
    margin: 4px;
    margin-bottom: 15px;
    margin-top: 25px;
    padding: 10px;
}
.sla {
    box-shadow: 4px 4px 4px #000000ad;
    background-color: #7e7a7a3d;
    padding: 19px;
    color: #000000fa;
    text-align: justify;
    font-size: 1.9em;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
p{
    font-size: 1em;
    color: black;
    text-align: justify;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 50px;
    padding-left: 50px;
}
#cartao{
    background-size: contain;
    background-image: url("img/Cartão.png" );
    padding: 0px;
    background-position: center;
}
#cont {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.med {
    font-size: 1.2em;
    color: white;
    text-align: justify;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    text-shadow: 3px 3px 4px black;
}
.foo{
    color: aliceblue;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#foot{
    margin-left: 17%;
    display: block; 
}
.midia{
    display: block;
    width: 30%;
    border-radius: 50% 50%;
    box-shadow: 3px 3px 5px rgba(77, 77, 77, 0.767);
    padding: 3px;
    padding-left: 0px;
}
#log{
    display: block;
}
.midia:hover{
    padding: 4px;
    
}
footer{
   
    display: flex;
    background-image: linear-gradient(to bottom, rgb(22, 22, 22), rgb(48, 47, 47), rgb(48, 47, 47), rgb(22, 22, 22));
    box-shadow: 3px 3px 5px black;    
    padding: 10px;
    padding-left: 0px;
}
#whats {
    position: fixed;
    bottom: 5px;
    left: 40px;
    width: 13%;
}
#whats:hover{
    padding: 4px;
}
.nome{
    display: none;
    position: fixed;
    bottom: 30px;
    margin-left: 37%;
    left: 0px;
    width: 7%;
    font-family: 'UnifrakturMaguntia', cursive;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616); 
}
.nomes{
    display: none;
    position: fixed;
    bottom: 3px;
    left: 0px;
    margin-left: 35%;
    font-size: 1.8em;
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);   
}  
menu, footer{
    padding-left: 1px;
    padding-right: 1px;
}
.molde{
    overflow: hidden;
    height: 1216px;
    width: 1350px;
}
.slides {
    width: 1000%;
    height: 100%;
   background-image: linear-gradient(to bottom, #fffffff8, #dfddddde,#bebbbbf1 );
    display: flex;
    padding-right: 0px;
    color: black;  
    border-radius: 10px;
}
.bloco{
    width: 10%;
}
.sla {
    box-shadow: 4px 4px 4px #000000ad;
    background-color: #7e7a7a3d;
    padding: 19px;
    color: #000000fa;
    text-align: justify;
    font-size: .8;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
#bot {
    margin-left: 34%;
    height: 10px;
}
.botao {
    text-shadow: 1px 1px 2px rgb(0 0 0 / 34%);
    font-size: 1.3em;
    box-shadow: 4px 4px 7px rgb(0 0 0 / 62%);
    background-color: red;
    color: aliceblue;
    padding: 3px;
    border-radius: 20px;
    margin-left: 15%;
    margin-top: 6px;
}
#som {
    text-align: center;
    margin: auto;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.5em;
}
video {
    border-radius: 10px;
    background-color: #000000cf;
    margin-top: 10px;
}
main{
  display: block;  
}
#hei, menu, footer,#galeria, .her, #he, .para, .ima, .cartao, .pri, .molde, #fo {
width: 85vh;
}
#galeria {
    padding: 2px;
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
    background-color: #ff000081;
}
.foto {
    background-color: rgba(0, 0, 0, 0.74);
    margin-top: 10px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
}
.foto img {
    width: 135px;
    height: 135px;
}
.foto img:hover{
    height: 150px;
}


