@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

@import url('https://fonts.googleapis.com/css2? family= UnifrakturCook & display=swap');

body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}
menu{
    background-image: linear-gradient(to bottom, rgb(22, 22, 22), rgb(48, 47, 47), rgb(48, 47, 47), rgb(22, 22, 22));
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: 3px 3px 5px black;   
}

